/* Dev: Sean Balakhanei */

/* Changes how padding is calculated, just makes things easier */
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Gets rid of arrows for input boxes (note scrolling still changes number) */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
    scroll-behavior: smooth;
}

table {
    border-collapse: collapse; 
    font-family: Calibri, sans-serif; 
}
colgroup, tbody { 
    border: solid medium; 
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    margin-top: .2em;
    margin-bottom: .2em;
}

.difficulty {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    margin-bottom: .4em;
    color: var(--main-color);
}

td { 
    border: solid thin; 
    height: 2.4em; 
    width: 2.4em; 
    max-width: 2.4em;
    max-height: 2.4em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center; 
    padding: 0; 
}

.puzzle {
    color: black;
    align-content: center;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.puzzle_unsolvable {
    color: red;
    align-content: center;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

/* Buttons */
.btn {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1.5em;
    padding: 1em 3.5em;
    background: green;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: transform 200ms ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}

.btn_new_puzzle {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1em;
    padding: 1em 3.5em;
    background: #1294d0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: transform 200ms ease-in-out;
}

.btn_new_puzzle:hover{
    transform: scale(1.1);
}

.btn_unsolvable {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1em;
    padding: 1em 3.5em;
    background: black;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: transform 200ms ease-in-out;
}

.btn_unsolvable:hover{
    transform: scale(1.1);
}

.input_box { 
    height: 2em;
    width: 2em;
    border: none;
}
input[type="number"]
{
    font-size:18px;
    font-weight: 300;
    text-align: center;
}

/* Footer */
.footer {
    text-align: center;
    padding: 2.5em 0;
    margin-top: 2em;
    font-size: var(--fs-h3);
}

.footer_child {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.footer a { 
    color: inherit;
    text-decoration: none; 
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: .8em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0.2em;
}

.social-list__link {
    padding: .4em;
}

.footer_title {
    font-size: 1.3em;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}